<mat-toolbar class="topbar gap-2">


  <!-- Mobile Menu -->
  @if(!showToggle) {
  <button mat-icon-button (click)="toggleMobileNav.emit()" class="flex justify-center">
    <i class="iconify flex" data-icon="solar:hamburger-menu-linear"></i>
  </button>
  }

  <mat-form-field appearance="outline" class="hide-hint hidden! sm:flex!">
    <mat-icon class="flex items-center justify-center" matSuffix>
      <i class="iconify text-xl" data-icon="solar:magnifer-line-duotone"></i>
    </mat-icon>
    <input matInput placeholder="Search..." />
  </mat-form-field>
  <!-- --------------------------------------------------------------- -->


  <span class="flex-auto"></span>


  @if(options.theme=='light'){
  <button mat-icon-button aria-label="lightdark" class="flex justify-center" (click)="setlightDark('dark')">
    <i-tabler class="flex" [name]="'moon'"></i-tabler>
  </button>
  }@else{
  <button mat-icon-button aria-label="lightdark" class="flex justify-center" (click)="setlightDark('light')">
    <i-tabler class="flex" [name]="'sun'"></i-tabler>
  </button>
  }

  <!-- --------------------------------------------------------------- -->
  <!-- Notification Dropdown -->
  <!-- --------------------------------------------------------------- -->
  <button mat-icon-button matBadge="5" [matMenuTriggerFor]="notificationmenu" aria-label="Notifications"
    class="notification-badge">
    <i class="iconify" data-icon="solar:bell-line-duotone"></i>
  </button>
  <mat-menu #notificationmenu="matMenu" class="topbar-dd cardWithShadow">
    <div class="flex items-center px-6 py-4">
      <h6 class="text-lg">Notifications</h6>

    </div>

    @for(notification of notifications; track notification.title) {
    <button mat-menu-item class="px-6 py-2">
      <div>
        <h5 class="text-sm font-semibold m-0 ">
          {{ notification.title }}
        </h5>
        <span class="text-xs text-muted">{{ notification.subtitle }}</span>
      </div>
    </button>
    }
  </mat-menu>

  <!-- Profile dropdown component -->
  <app-profile-dropdown></app-profile-dropdown>
</mat-toolbar>